* {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", sans-serif;
}

ul {
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 1rem;
  margin-left: 1rem;
}

footer {
  margin: 6rem 6rem 2rem 4rem;
}

#one {
  font-size: 25px;
  color: #939393;
  margin-right: 1.5rem;
}

.two {
  margin-bottom: 3px;
  margin-top: 7px;
  color: #939393;
}

h2 {
  color: skyblue;
  padding: 0px 0px 6px 1px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  row-gap: 50px;
  margin: 0rem 5rem 0rem 4rem;
  justify-content: space-between;
}

.inner {
  padding: 0px 0px 6px 1px;
}

.image {
  height: 180px;
}

.images {
  height: auto;
  width: 100%;
}

P {
  text-align: justify;
}

li {
  padding: 0rem 2rem;
}

.main {
  padding: 2px;
}

.nav_container {
  display: flex;
  text-decoration: none;
  background-color: rgb(31, 29, 29);
  color: #939393;
  justify-content: start;
  padding: 0 50px;
}

span {
  font-size: 1.4rem;
  color: rgb(41, 39, 39);
  margin: 2px 2px 2px 10px;
}

.heading {
  margin-left: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: 4rem;
}

@media only screen and (max-width: 480px) {
  body {
    height: 100vh;
    width: 100%;
  }

  .container {
    display: grid;
    grid-template-columns: auto;
    padding: 0rem 0rem 0rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
    justify-content: center;
  }

  .nav_container {
    display: flex;
    background-color: rgb(31, 29, 29);
    color: #939393;
    justify-content: space-around;
    padding: 0 20px;
  }

  .two {
    font-size: 12px;
    color: #939393;
  }

  li {
    padding: 0rem 1rem;
  }

  .heading {
    margin-left: 1rem;
    margin-top: 2rem;
    margin-right: 2rem;
  }

  #one {
    /*font-size: 21px;
    margin-left: -1rem;
    color: #939393;*/

    font-size: 25px;
    color: #939393;
    margin-top: auto;
    margin-right: 1rem;
  }

  span {
    font-size: 0.7rem;
  }

  .inner {
    margin: 0;
    padding: 1rem;
  }

  .main {
    padding: 0px 0px 0px 1px;
  }

  p {
    font-size: 16px;
  }

  ul {
    margin: 0rem;
  }
}

@media (min-width: 480px) and (max-width: 680px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 50px;
    margin: 0rem 5rem 0rem 4rem;
    justify-content: space-between;
  }

  .heading {
    justify-content: center;
  }
}

@media (min-width: 680px) and (max-width: 767px) {
  .container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 50px;
    margin: 0rem 5rem 0rem 4rem;
    justify-content: space-between;
  }

  .heading {
    justify-content: center;
  }
}
